.MainRow{
    justify-content: space-evenly;
    display: contents;
}
.MainContainer{
    margin: 0;
}
.Forms
{
    
    align-items: center;


}
.px-4
 {
width: 500px;
}
.brandName
{
    font-family: 'Roboto', sans-serif;
    margin-bottom: -5px;
}
.Name
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #f48c06;
}
.txt1
{
        margin-right: 40px
}

.myButton {
	box-shadow: -1px 0px 0px 0px #ebf2f5;
	
	border-radius:15px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:9px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
}
.myButton:hover {
	
}
.myButton:active {
	position:relative;
	top:1px;
}
@media only screen and (max-width:480px) 
{
    .brandName
    {
      width: 100px;
        margin-left: 220px;
        font-size: inherit;
    

    }

    .Name{
    
        width: 75px;
        margin-left: 215px;
        font-size: 1.0rem;
    

    }
    .BrandLogo{
        
    width: 50px;
    height: 50px;

    }
    
    
}
@media screen and (max-width:540px) {

.BrandLogo{
    display: none;
}
.txt1 {
    margin-left: -200px;
    width: 100px;
}

    
}