.mainContents
{
    margin-left: 170px;
    margin-top: 20px;
   

    

}


.MainCard
{
    width: 270px;
    height: 420px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-flex;
    margin-bottom: 40px;
    text-decoration: none !important;
}
a{
    text-decoration: none;
    color: black;
    
}
.MainText
{
    margin-bottom: 0px;
    text-decoration: none !important;
}
.PriceText
{
    margin-bottom: 2px;
}
.PriceReduction
{
    margin-bottom: 2px;
}
.StarRating
{
    color:orange;
    margin-left: 15px;
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
}