.MainContent {
margin-left: 25rem;
}
.MainCard 
{
    border-style:none;
    height: 160px;
    margin-left: 15rem;
}

.FormElement
{
        width: 800px
}
.signup
{
    margin-left: 15rem;
    margin-bottom: 5.5rem;
}
.image
{
    width: 100px;
}